html {
    color: rgb(71, 74, 81);
}

body {
    color: rgb(71, 74, 81);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(59, 56, 56);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

header {
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    border-bottom: 1px solid rgb(59, 56, 56);
    align-content: center;
}

.currentMonthYear {
    cursor: default;
    display: flex;
    grid-column: 8/18;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin-top: .7rem;
    color: rgb(172, 100, 200);
}

.week-btn__prev {
    grid-column: 7/8;

}

.week-btn__next {
    grid-column: 18/19;

}

.main {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
}

.main-header {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-column: 1/20;
    text-align: center;
    height: 10vh;
    border-bottom: 1px solid rgb(170, 174, 174);

}

.empty-space {
    display: flex;
    grid-column: 1/5;
    padding-left: 0.5rem;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
}

.empty-space__btn {
    height: 3rem;
    width: 6.5rem;
    text-align: center;
    background-color: rgb(208, 167, 225) !important;
    border: 0 !important;

}

.empty-space__btn:hover {
    background-color: rgb(172, 100, 200) !important;
}

.local-time-container{
    background-color: aqua;
    grid-column: 5/6;

}
.day-section {
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.day-section-1 {
    grid-column: 6/8;
}

.day-section-2 {
    grid-column: 8/10;
}

.day-section-3 {
    grid-column: 10/12;
}

.day-section-4 {
    grid-column: 12/14;
}

.day-section-5 {
    grid-column: 14/16;
}

.day-section-6 {
    grid-column: 16/18;
}

.day-section-7 {
    grid-column: 18/20;
}

.sidebar {
    grid-column: 1/5;
    height: 80vh;
}

.calendarMonthContainer {
    height: 30vh;
}

.taskAsideContainer {
    height: 50vh;
    overflow-y: scroll;

}

.week-container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-column: 5/20;
    position: relative;
    overflow-y: scroll;
    height: 80vh;
}

.hours-section {
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-right: 1px solid grey;
    grid-column: 1/2;
    height: 100%;
    font-size: small;
}

.hour {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 6rem;
}

.day-task-section {
    position: relative;
    border-right: 1px solid grey;
}

.day-task-section-1 {
    grid-column: 2/4;

}

.day-task-section-2 {
    grid-column: 4/6;

}

.day-task-section-3 {
    grid-column: 6/8;

}

.day-task-section-4 {
    grid-column: 8/10;

}

.day-task-section-5 {
    grid-column: 10/12;

}

.day-task-section-6 {
    grid-column: 12/14;

}

.day-task-section-7 {
    grid-column: 14/16;

}

.lines-container {
    position: absolute;
    grid-column: 2/16;
}

.day-time-lines {
    border-top: 1px solid rgb(59, 56, 56);
    width: 100%;
    height: 6rem;
}


.task-container {
    position: absolute;
    width: 80%;
    background-color: rgb(172, 100, 200);
    opacity: 0.8;
    height: 6rem;
    overflow: hidden;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    color: white;
    padding-bottom: .3rem;
    padding-left: .3rem;
    transition: ease-in;
    -webkit-transition: ease-in;
    -moz-transition: ease-in;
    -ms-transition: ease-in;
    -o-transition: ease-in;
    transition-duration: .2s;
}

.task-container:hover {
    z-index: 100;
    scale: 1.3;
    opacity: 1;
    background-color: rgba(54, 44, 61, .8);
}



.task-green {
    background-color: rgba(109, 202, 130, .8);
}

.task-blue {
    background-color: rgba(82, 160, 225, .8);
}

.task-red {
    background-color: rgba(191, 79, 56, .8);
}

.task-orange {
    background-color: rgba(228, 130, 19, .8);
}

.reminders-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 40px;
    bottom: 40px;
    background-color: rgb(208, 167, 225);
}


/* TIME LINE STYLES */

.time-line__container {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 103.5%;
    align-items: center;
    right: 0;
}

.time-line__point {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: red;
}

.time-line__line {
    height: 2px;
    width: 100%;
    background-color: red;
}

/* /////////////////////////////////////// */

ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-left: 0 !important;
    margin-right: 10px;
    margin-left: 10px;
    justify-items: center;
    /* gap: 5px; */
}

.previous,
.next {
    background-color: transparent;
}

.header-month {
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

.month {
    text-align: center;
    /* width: 300px; */
}

.currentMonth,
.notCurrentMonth {
    width: 24px;
    height: 24px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.currentMonth:hover,
.notCurrentMonth:hover {
    background-color: rgba(208, 167, 225, .9);
    color: whitesmoke;
}

.currentDay {
    background-color: rgb(172, 100, 200);
    color: white;
}

.day-name {
    background: #eee;
    font-weight: bold;
    text-align: center
}

.weekday {
    width: 24px;
    border-radius: 50%;
    display: block;
    text-align: center;
}

.currentMonth {
    font-weight: bold;
}

/* modal form */
.form__groupe {
    position: relative;
}

.form__icon--none {
    display: none;
}

.form__text--show {
    display: block;
    position: absolute;
    height: 25px;
    bottom: 7px;
    right: 10px;
}

.form__choose--show {
    display: block;
    position: absolute;
    height: 25px;
    top: 18%;
    right: 50px;
}

.form__type--show {
    display: block;
    position: absolute;
    height: 25px;
    top: 18%;
    right: 35px;
}

/* modal form end */

@media (max-width: 800px) {

    .main-header {
        width: 600px;
    }

    .week-container {
        width: 430px;
    }

    .sidebar {
        width: 170px;
    }
}



@media (max-width: 670px) {
    .main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* align-items: flex-start; */
    }

    .main-header {
        grid-template-columns: repeat(9, 1fr);
        grid-row: 1/2;
    }

    .empty-space {
        grid-column: 1/2;
    }

    .day-section-1 {
        background-color: azure;
        grid-column: 2/3;
    }

    .day-section-2 {
        background-color: azure;
        grid-column: 3/4;
    }

    .day-section-3 {
        background-color: azure;
        grid-column: 4/5;
    }

    .day-section-4 {
        background-color: azure;
        grid-column: 5/6;
    }

    .day-section-5 {
        background-color: azure;
        grid-column: 6/7;
    }

    .day-section-6 {
        background-color: azure;
        grid-column: 7/8;
    }

    .day-section-7 {
        background-color: azure;
        grid-column: 8/9;
    }

    .sidebar {
        order: -1;
    }

    .week-container {
        grid-template-columns: repeat(9, 1fr);
        grid-row: 2/3;
        margin-left: -50 px;
    }

    .day-task-section-1 {
        grid-column: 2/3;
    }

    .day-task-section-2 {
        grid-column: 3/4;
    }

    .day-task-section-3 {
        grid-column: 4/5;
        position: relative;
    }

    .day-task-section-4 {
        grid-column: 5/6;
    }

    .day-task-section-5 {
        grid-column: 6/7;
    }

    .day-task-section-6 {
        grid-column: 7/8;
    }

    .day-task-section-7 {
        grid-column: 8/9;
    }

}